# Folders to ignore
/vectors/*
!/vectors/readme.txt
/results/*
!/results/readme.txt
!/results/tb_results/
/results/tb_results/*
!/results/tb_results/readme.txt
/result/

# Notebook checkpoints
.ipynb_checkpoints/

# macOS specific
.DS_Store